openapi: 3.1.0
info:
  title: Den Admin Mcp API
  description: 'OpenAPI spec for the Den control plane API.


    Authentication:

    - Use `Authorization: Bearer <session-token>` for user-authenticated routes that require a Den session.

    - Use `x-api-key: <den-api-key>` for API-key-authenticated routes that accept organization API keys.

    - Public routes like health and documentation do not require authentication.


    Swagger tip: use the security schemes in the Authorize dialog to set either `bearerAuth` or `denApiKey` before trying protected endpoints.'
  version: dev
servers:
- url: https://api.openworklabs.com
tags:
- name: Mcp
paths:
  /mcp/.well-known/oauth-protected-resource:
    get:
      operationId: getMcpWellKnownOauthProtectedResource
      responses:
        '200': {}
      tags:
      - Mcp
  /mcp/agent/.well-known/oauth-protected-resource:
    get:
      operationId: getMcpAgentWellKnownOauthProtectedResource
      responses:
        '200': {}
      tags:
      - Mcp
  /mcp/admin/.well-known/oauth-protected-resource:
    get:
      operationId: getMcpAdminWellKnownOauthProtectedResource
      responses:
        '200': {}
      tags:
      - Mcp
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: session-token
      description: 'Session token passed as `Authorization: Bearer <session-token>` for user-authenticated Den routes.'
    denApiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Organization API key passed as the `x-api-key` header for API-key-authenticated Den routes.
